@model WikiRh.Models.WikiRh_File

@{
    ViewData["Title"] = "Delete";
}


<h1>Etes-vous sûr de vouloir supprimer ce fichier?</h1>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Pour la question")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions.QuestionContent)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_file" />
        <a asp-action="Index">Retourner à la liste</a>|
        <input type="submit" value="Supprimer" class="btn btn-outline-danger" />

    </form>
</div>
